*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    max-width:1200px;
    display:flex;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    margin: auto;
    padding:40px;
}

.sidebar{
    height:90vh;
    background-color: #2a2a2a ;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    position: sticky;
    top:40px;
}

.main-content{
    width: 105vh;
    background-color: #2a2a2a ;
    border-radius: 16px;
}

.profile{
    text-align: center;
    padding-top: 40px;
    margin-top: 20px;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display:inline-block;
    margin-top: 10px;

}

.contact{
    margin-top: 30px;
    padding-top: 20px;
    margin: 40px;
    border-top: 2px solid #3a3a3a;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone,.location{
    margin: 15px;
}

.social{
    border-top: 2px solid #3a3a3a;
    text-align: center;
    margin: 40px;
}

.social img{
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    filter: brightness(0) saturate(100%) invert(93%) sepia(69%) saturate(498%) hue-rotate(218deg) brightness(109%) contrast(105%);
}

/* Main content */

/* Navigate to */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding: 20px;
}

nav{
    display: flex;
    justify-content:flex-end;
    gap:20px;
}

nav a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;

}

.active, nav a:hover{
    color:#FFBF00;
}

/* About me */

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 10px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

#about{
    margin-bottom: 10px;  
}

#all-main{
    margin-left: 25px;
    margin-right: 25px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

/*Skills*/

.grid-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 0%;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness();
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/*Education*/

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0,9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom: 25px;
    position: relative;
    padding-left: 25px;
}

.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    top: 5px;
    left:0px;
    z-index: 5;

}

.liner{
    position: absolute;
    width: 2px;
    top: 5px;
    bottom: 0px;
    left: 6px;
    border: 2px solid #3a3a3a;
}

/* Portfolio */

.allproject{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-bottom: 25px;
    margin-top: 20px;
}

#img3{
    grid-row: 1/2;
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(255,191,0,0.1);
    color: #FFBF00;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}